.vscode/**
.vscode-test/**
coverage/**
.nyc_output/**
test/**
src/**
.gitignore
.yarnrc
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
!node_modules/azure-devops-node-api/index.js
!node_modules/azure-devops-node-api/WebApi.js
!node_modules/azure-devops-node-api/VsoClient.js
!node_modules/azure-devops-node-api/interfaces/**
!node_modules/git-blame/index.js
!node_modules/moment/moment.js
!node_modules/moment/locale/**
!node_modules/path/index.js
webpack.config.js
.git/**
.github/**
.gitattributes
.editorconfig
.npmrc
.npmignore
.travis.yml
.eslintignore
*.vsix
*.log
*.tgz
*.zip
*.tar.gz
*.tar
*.bak
*.swp
*.swo
CHANGELOG.md
README.md
CONTRIBUTING.md
LICENSE
images/**
!images/ado_icon.png
out/**/*.map
out/test/**
**/*.ts
!out/src/extension.js
